<div id="header">
<h1><a href="/index.php">Computando Dragones</a></h1>
<ul id="navbar">
    <li><a href="/blog">Blog</a></li>
    <li><a href="https://gitlab.com/Suguivy">Repositorios</a></li>
    <li><a href="/lecturas">Lecturas</a></li>
</ul>
</div>
