<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Computando Dragones</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
</head>
