@font-face { font-family: Domine; src: url('./res/fonts/Domine-Regular.ttf'); } 
@font-face { font-family: Domine; font-weight: bold; src: url('./res/fonts/Domine-Bold.ttf');}

#navbar li {
display: inline;
}

body {
margin: 50px 100px 50px 100px;
        font-family: 'Domine', sans-serif;
        background-color: #ccccff;
color: #2d2728;
}

a {
    text-decoration: none;
    color
}

#header {
    text-align: center;
}

#footpage {
    text-align: center;
}

.entry {
padding: 10px;
         background-color: #e6e6ff;
}
